In [1]:
import cobra
import cobra.test
import os

model = cobra.io.load_json_model("Recon3D.json")

In [6]:
model

In [8]:
model.metabolites[1]

In [2]:
model.add_boundary

In [5]:
model.reactions[13]

In [7]:
model

In [22]:
#model.reactions.get_by_id("ACACCT").lower_bound = - 1000

In [16]:
#Changing lower bound
model.reactions.get_by_id("10FTHF5GLUtl").lower_bound = 0

In [17]:
model.reactions.get_by_id("10FTHF5GLUtl").lower_bound

0

In [18]:
from cobra.flux_analysis import flux_variability_analysis

In [20]:
#Flux variability analysis 
flux_variability_analysis(model, reaction_list = model.reactions.get_by_id("10FTHF5GLUtl"))

              minimum       maximum
10FTHF5GLUtl      0.0  1.857755e-12

In [21]:
import pandas
from time import time

import cobra.test
from cobra.flux_analysis import (
    single_gene_deletion, single_reaction_deletion, double_gene_deletion,
    double_reaction_deletion)

In [30]:
single_gene_deletion(model, model.genes[:4])

                growth   status
ids
(8639_AT1)  755.003216  optimal
(26_AT1)    755.003216  optimal
(0)         755.003216  optimal
(314_AT1)   755.003216  optimal

In [32]:
single_reaction_deletion(model, model.reactions[:5])
#What does the single_reaction_deletion function do? And how is this different from gene knockout?

                           growth   status
ids
(COAtl)                755.003216  optimal
(24_25DHVITD3tm)       755.003216  optimal
(EX_5adtststerone_e)   755.003216  optimal
(25HVITD3t)            755.003216  optimal
(EX_5adtststerones_e)  755.003216  optimal

In [31]:
model.reactions[:5]

[<Reaction 24_25DHVITD3tm at 0x245e90e7208>,
 <Reaction 25HVITD3t at 0x245e90e7288>,
 <Reaction COAtl at 0x245e90e7488>,
 <Reaction EX_5adtststerone_e at 0x245e90e77c8>,
 <Reaction EX_5adtststerones_e at 0x245e90fa048>]

In [34]:
#Model optimize of reaction COAtl BEFORE and AFTER knock out
#Question: What does the optmization value mean?

print('complete model: ', model.optimize())
with model:
    model.reactions.COAtl.knock_out()
    print('COAtl knocked out: ', model.optimize())

complete model:  <Solution 755.003 at 0x245ee91eac8>
COAtl knocked out:  <Solution 755.003 at 0x245ee91eec8>

In [2]:
model.genes[1]

In [ ]:
model.genes[1]